@using Microsoft.AspNetCore.Identity
@inject SignInManager<TopicDay.Models.ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2B - @ViewData["Title"] - TopicOfTheDay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TFKK4Q5WXL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-TFKK4Q5WXL');
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-action="Welcome" asp-controller="home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Topics" asp-controller="home" class="nav-link">Topics</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a asp-action="Create" asp-controller="home" class="nav-link">Add Topics</a>
                            </li>

                            <li class="nav-item">
                                <a asp-action="AddTopic" asp-controller="home" class="nav-link">View Topic</a>
                            </li>

                            <li class="nav-item">
                                <form method="post" asp-action="logout" asp-controller="account">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">Logout @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="home" class="nav-link">Add Topic</a>
                            </li>

                            <li class="nav-item">
                                <a asp-action="register" asp-controller="account" class="nav-link">Register</a>
                            </li>

                            <li class="nav-item">
                                <a asp-action="login" asp-controller="account" class="nav-link">Login</a>
                            </li>
                        }
                    </ul>
                </div>


            </div>

        </nav>

     </header>


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()

            </main>
        </div>
        <footer class="border-top footer text-muted">
            <div class="container">
                © 2021 - Topic Of The Day - <a asp-action="Topics" asp-controller="home">Privacy</a> | <a href="https://github.com/NaveenTanuku/TopicDay"> Deployed Repo </a> | <a href="https://github.com/NaveenTanuku/Topic-of-the-Day-2B"> Proposal (2B)</a> | <a href="https://github.com/NaveenTanuku/TopicDay/projects/1">Work planning </a> | <a href="https://github.com/NaveenTanuku/Topic-of-the-Day-2B/wiki">Wiki</a> | <a href="https://naveentanuku.github.io/TopicOfTheDay-DocFX/">DocFX</a>| <a href="https://naveentanuku.github.io/TopicOFTheDay-Swagger/">Swagger</a>| <a href="https://github.com/NaveenTanuku/Topic-of-the-Day-2B/wiki">Test Results</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>