@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="pt-5" style="padding-top: 5rem !important">
    <div class="cover-container pt-5 d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" id="bearcat_alert">
            <div class="row">
                <div class="col-md-6 col-xs-6 col-sm-6">
                    <img class="img-home" src="/exam.jpg">
                </div>
                <div class="col-md-6 col-xs-6 col-sm-6 right-home">
                    <h1 class="h1">Java Exam</h1>
                    <h3>Location: <span>VLK 111</span></h3>
                    <h5 class="pt-2 pb-2">Date &amp; Time: <span> 5 PM 11/11/2021</span></h5>
                    <div class="pt-3">
                        <button class="btn btn-md btn-dark">See more</button>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
